<p style="color: BLUE;">RAHUL GORE AUTH!!!!!</p>
<div style="display: flex; gap: 10px;">
  <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" (click)="sayHello()">Get Name - {{ envName }}</button>
  <button type="button" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700" (click)="callAzureFunction()">Call Azure Function</button>
  <button type="button" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-red-700" (click)="callNodeAzureFn()">Call Node-Azure Function</button>
</div>
